h4{
    margin-top: 80px !important;
}

.img-shape{
    margin-left: -630px;
    height: 400px;
   
}

.txt-body{
    margin-left: -250px;
    text-align: left;
    margin-top: 150px;
    font-weight: bold;
}

.txt-body-desc{
    text-align: left;
    margin-left: -250px;

}


.img-client{
    margin-left: -200px;
    height: 450px;
    width: 609px;
}

.body-secsion{
    margin-top: 250px;
}


.img-team{
    margin-top: 150px;
    height: 100px;
}

/* Work-Team */
.txt-team-work{
    text-align: left;
    margin-top: 150px;
    margin-left: -100px;
}

.txt-work-desc{
    text-align: left;
    margin-left: -100px;
}

.box-img{
    height: 500px;
    width: 400px;
    background: url('../assets/work.jpg');
    background-size: cover;
    margin-left: -250px;
}

.img-shape-work{
    height: 400px;
    margin-left: -630px;
}

/* Work-Team */
.txt-team-working{
    text-align: left;
    margin-top: 150px;
    margin-left: 100px;
}

.txt-working-desc{
    text-align: left;
    margin-left: 100px;
}

.box-img-two{
    height: 600px;
    width: 400px;
    background: url('../assets/working.jpg');
    background-size: cover;
    margin-left: 100px;
}

.txt-company{
    margin-top: 150px;
}

.txt-focus {
    margin-top: 120px;
    font-weight: bold;
}

.microsoft{
    background: url('../assets/img/microsoft.png');
    background-size: cover;
    
}

.google{
    background: url('../assets/img/google.png');
    background-size: cover;
}

.facebook{
    background: url('../assets/img/facebook.png');
    background-size: cover;
}

.name {
    margin-top: 100px;
}

.btn-next{
    font-weight: bold;
    border: none;
}

.bg-info{
    background: url('../assets/img/images-bg.png');
    background-size: cover;
    width: 100%;
    height: 300px;
    margin-top: 150px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.txt-info{
    margin-top: -250px !important;
    color: white;
}

.info-btn{
    
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 20px;
    width: 250px;
    background-color: #FF6895 !important;
}

.btn-try-info{
    
    margin-left: 10px;
    margin-top: 30px;
    width: 300px;
    background-color: #FF6895 !important;
    border: none;
}
/* footer */
.footer{
    width: 100%;
    height: 400px;
    background-color: #2E36FF;
    margin-top: 70px;
}

.list-unstyled{
    text-align: left;
    color: white !important;
}

.title {
    text-align: left;
    color: white;
    margin-top: 100px;
    margin-left: 40px;
}

.content{
    margin-top: 30px;
    
}

.link{
    color: white !important;
}